body {
	background-color: goldenrod;
 	color: indigo;
 	text-align:right
}
a {
	color: blue;
	background-color: darkgrey;
	text-decoration: none;
}
aside {
	display: block;
	float: left;
	padding-right: 5px;
	margin-right: 5px;
	width: 40%;
	border: 2px solid maroon;
	border-radius: 15px;
	font-style: italic;
}
